<app-badge-builder-card>
  <form [formGroup]="uploadForm">

    <div *ngIf=" mode == 'initial' ">

      <h2>{{action.title}}</h2>

      <div class="image">
        <!-- If upload has been made - only when they have hit back  -->
        <div>
          <img 
            *ngIf="actionUserData.upload"
            src="{{actionUserData.upload.url}}" 
            alt="Action showing {{action.title}}"
          /> 
        </div>

        <!-- If upload does not exist  -->
        <div class="no-upload" *ngIf="!actionUserData.upload">

        </div>
        
      </div>

      <!-- If upload has been made - only when they have hit back  -->
      <a 
        class="remove"
        *ngIf="actionUserData.upload"
        (click)="removeUpload()">
        Remove Upload
      </a>

      
      <p>Upload a photo of you doing this action</p>

      <div class="file-chooser">
        <input type="file" (change)="fileChange($event)" name="file" id="file" accept="image/*" #fileInput>
      </div>

      <!-- <button md-button [disabled]="!fileChosen" class="full-width md-raised" type="button" type="submit">
        Upload
      </button> -->

      <app-button (click)="fileInput.click()">
        Choose Photo
      </app-button>

      <a class="skip" routerLink="/badgeBuilder/1/story">
        Skip this step &#x25B8;
      </a>

    </div>

    <div *ngIf=" mode == 'uploading' ">
      
      <h2>Uploading&hellip;</h2>
      
      <md-progress-bar
          [color]="'primary'"
          [mode]="'determinate'"
          [value]="uploadProgressPercentage">
      </md-progress-bar>

      <app-button (click)="cancelUpload()">
        Cancel
      </app-button>

    </div>

  </form>
</app-badge-builder-card>