<app-badge-builder-card>
  <form [formGroup]="uploadForm" (ngSubmit)="submitForm(uploadForm.value)">

    <div *ngIf=" mode == 'initial' ">

      <div class="placeholder">
        <img src="http://via.placeholder.com/500x250" alt="Peace Badge" class="full-width" /> 
      </div>

      <div class="file-chooser">
        <input type="file" (change)="fileChange($event)" name="file" id="file" accept="image/*" #fileInput>
      </div>

      <button md-button [disabled]="!fileChosen" class="full-width md-raised" type="button" type="submit">
        Upload
      </button>

      <a routerLink="/badgeBuilder/1/story">Skip this step</a>

    </div>

    <div *ngIf=" mode == 'uploading' ">
      
      <h2>Uploading&hellip;</h2>
      
      <md-progress-bar
          [color]="'primary'"
          [mode]="'determinate'"
          [value]="uploadProgressPercentage">
      </md-progress-bar>

      <button md-button class="md-raised" (click)="cancelUpload()">
        Cancel
      </button>

    </div>

  </form>
</app-badge-builder-card>