<app-badge-builder-card>
  <form [formGroup]="uploadForm" (ngSubmit)="submitForm(uploadForm.value)">

    <div *ngIf=" mode == 'initial' ">

      <div class="image">
        <!-- If upload has been made - only when they have hit back  -->
        <img 
          *ngIf="actionUserData.upload"
          src="{{actionUserData.upload.url}}" 
          alt="Action showing {{action.title}}" class="full-width" 
        /> 

        <a 
          *ngIf="actionUserData.upload"
          (click)="removeUpload()">
          Remove Upload
        </a>

        <!-- If upload does not exist  -->
        <img 
          *ngIf="!actionUserData.upload"
          src="{{action.image}}" 
          alt="Action showing {{action.title}}" class="full-width" 
        /> 

        
      </div>

      <h2>{{action.title}}</h2>
      <p>Upload a photo of you doing this action</p>

      <div class="file-chooser">
        <input type="file" (change)="fileChange($event)" name="file" id="file" accept="image/*" #fileInput>
      </div>

      <button md-button [disabled]="!fileChosen" class="full-width md-raised" type="button" type="submit">
        Upload
      </button>

      <a routerLink="/badgeBuilder/1/story">Skip this step</a>

    </div>

    <div *ngIf=" mode == 'uploading' ">
      
      <h2>Uploading&hellip;</h2>
      
      <md-progress-bar
          [color]="'primary'"
          [mode]="'determinate'"
          [value]="uploadProgressPercentage">
      </md-progress-bar>

      <button md-button class="md-raised" (click)="cancelUpload()">
        Cancel
      </button>

    </div>

  </form>
</app-badge-builder-card>