<div class="container">

  <div class="logo">
    <a routerLink="/">
      <img src="assets/logo.svg" alt="International Alert">
    </a>
  </div>

  <h2 id="website-terms">Website Terms &amp; Conditions</h2>
  
  <p>
      Thank you for visiting our website. Use of this site is provided by International Alert subject to the following Terms and Conditions.
  </p>

  <ol>
    <li>Your use constitutes acceptance of these Terms and Conditions as of the date of your first use of the site.</li>
    <li>International Alert reserves the right to change these Terms and Conditions at any time by posting changes online. Your continued use of this site after changes are posted constitutes your acceptance of this agreement as modified.</li>
    <li>You agree to use this site only for lawful purposes and in a manner that does not infringe the rights of, or restrict or inhibit the use and enjoyment of the site by, any third party.</li>
    <li>This site and the information, names, images, pictures and logos regarding or relating to International Alert are provided 'as is' without any representation or endorsement made and without warranty of any kind, whether express or implied. In no event will International Alert be liable for any damages including, without limitation, indirect or consequential damages, or any damages whatsoever arising from the use or in connection with such use or loss of use of the site, whether in contract or in negligence.</li>
    <li>International Alert does not warrant that the functions and materials contained in this site will be: uninterrupted or error free; that defects will be corrected; that this site, or the server that makes it available, are free of viruses or bugs; or represents the full functionality, accuracy and reliability of the materials.</li>
    <li>Copyright restrictions: Commercial use or publication of all or any item displayed is strictly prohibited without prior authorisation from International Alert. Nothing contained herein shall be construed as conferring any licence by International Alert to use any item displayed. Documents may be copied for personal use only on the condition that copyright and source indications are also copied, no modifications are made and the document is copied entirely. However, some documents and photos have been published on this site with the permission of the relevant copyright owners (who are not International Alert). All rights are reserved on these documents and permission to copy them must be requested from the copyright owners (the sources are indicated within these documents/photographs).</li>
    <li>You can access other sites via links from www.international-alert.org. These sites are not under our control and we are not responsible in any way for their contents.</li>
    <li>If there is any conflict between these Terms and Conditions and rules and/or specific terms of use appearing on this site relating to specific material, then the latter shall prevail.</li>
    <li>These Terms and Conditions shall be governed and construed in accordance with the laws of England and Wales. Any disputes shall be subject to the exclusive jurisdiction of the Courts of England and Wales.</li>
  </ol>
  
  <p>For more information about these Terms and Conditions, please contact <a href="mailto:smccready@international-alert.org">Sue McCready</a>.</p>
  
  <p>International Alert is a registered charity in England and Wales (no. 327553) and a company limited by guarantee registered in England (no. 02153193) at 346 Clapham Road, London, SW9 9AP.</p>


  <h2 id="competition-terms">
    Competition Terms &amp; Conditions
  </h2>

  <ul>
    <li>Entry to competition is limited to those who share their images and / or stories of everyday peace</li>
    <li>Entries must be received by midnight on Sunday 14th October 2017</li>
    <li>Valid entries must be submitted through this webpage and must include an email address.</li>
    <li>Entry is restricted to one per person and contestants must be over 18 years of age.</li>
    <li>The competition is not open to anyone affiliated with International Alert, Ben &amp; Jerry’s or affiliated partner organisations.</li>
    <li>Winner will be selected at random from all entries with the correct answer. Alert’s decision is final.</li>
    <li>The winner will be notified by email after the competition closes.</li>
    <li>The prize cannot be exchanged for cash.</li>
    <li>Competition open to residents of UK and Ireland only.</li>
    <li>By entering this competition you are agreeing to these terms and conditions.</li>
  </ul>

  <h2 id="copyright">Copyright</h2>
  <ul>
    <li>
      Photo submissions of everydaypeace.co:  By submitting a photo or story, you agree to the following:
    </li>
    <li>
      You represent that you own all copyrights in the photograph. As a condition of submitting your photo, you unconditionally and irrevocably assign all copyrights and other rights in the photograph to International Alert.
    </li>
    <li>
      You acknowledge that International Alert may, at its sole discretion, publish or otherwise use any photograph or story submitted by you. By submitting a photograph and/or story, you (and any other individual depicted in a photograph or story) consent to such publication or any other use.
    </li>
    <li>
      As a condition of submitting your photograph or story, you (and any other individual depicted in a photograph) unconditionally and irrevocably waive all claims to compensation for use of the photograph, and/or any rights with respect to such use you may have under copyright law, the right to publicity, the right to privacy, the law of defamation, and any other common law or statutory claims under the laws of any jurisdiction.
    </li>
    <li>
      You represent that you have been given the authority by each individual depicted or represented in a photograph or story to bind such individual to these release terms
    </li>
  </ul>


    <h2 id="privacy">Privacy Policy</h2>

    <p>We are committed to safeguarding your privacy online. Any information that we gather and hold is managed in accordance with the Data Protection Act (1998). We will not disclose or share personal information supplied by you with any third party organisation without your prior consent.</p>

</div>


<app-competition-banner></app-competition-banner>
<app-footer-peace-building></app-footer-peace-building>
<app-footer-common></app-footer-common>