.container .bg {
	min-height:100%;
	width:100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
	background:no-repeat right center;
	background-size:cover;
	background-image: url("/assets/badge-builder/backgrounds/default.png");
}

.container.prize .bg {
	background-image: url("/assets/badge-builder/backgrounds/email-collector.jpg");
}

.card-container {
	padding:30px 24px;
}

.back {
	display: block;
  width: 51px;
  height: 50.9px;
	background-color: #ffcd00;
	border-radius: 25px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 43px;
}

.back:hover {
	cursor: pointer;
	background-color: rgba(255, 205, 0, 0.8);
}

.back img {
  width: 16.4px;
  height: 28.4px;
	object-fit: contain;
	margin-left:-5px;
}

.card {
	background:#fff;
	overflow:hidden;
	border-radius: 7px;
	min-height: 400px;
}

h2 {
	text-align: center;
  background-color: #f4f5f0;
  font-size: 18.2px;
  font-weight: 600;
	line-height: 1.69;
	margin:0;
	padding:15px 8px 8px;
}

.content {
	padding:24px;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

	.card {
		margin-left:125px;
		width:460px;
	}
}

@media only screen and (min-device-width : 1024px) {

	.card {
		margin-left:80px;
		width:460px;
	}
}



