.builder-container {
	overflow: hidden;
	border-radius: 10px;
	text-align: center;
	padding:0 0 1em;
}

h2 {
	background:#eee;
}

.content {
	padding:1em;
	text-align: left;
}

button {
	background: yellow;
	width: 80%;
	border: 0;
	font-size: 2em;
	border-radius: 10px;
	padding: 8px;
}