<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{action?.title}}</md-card-title>
    <md-card-subtitle>Why do it: {{action?.why}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="{{action?.image}}">
  <md-card-content>
    <p>
      {{action?.description}}
    </p>
  </md-card-content>
</md-card>

<h1>
  Make your own #IScreamForPeace card
</h1>

<section>
  <md-toolbar color="primary">
    <span>1. Upload your profile</span>
  </md-toolbar>
  <app-image-uploader>
  </app-image-uploader>
</section>

<section>
  <md-toolbar color="primary">
    <span>2. Share your badge</span>
  </md-toolbar>

  <app-social-preview>
  </app-social-preview>

  <app-social-actions>
  </app-social-actions>

</section>


<section>
  <md-toolbar color="primary">
    <span>3. Prize Draw</span>
  </md-toolbar>
  <app-email-collector>

  </app-email-collector>
</section>