<app-badge-builder-card>


  <h2>{{action.title}}</h2>

  <div class="image">

    <!-- If upload  -->
    <img 
      *ngIf="actionUserData.upload"
      src="{{actionUserData.upload.url}}" 
      alt="Action showing {{action.title}}" class="full-width" 
    /> 

    <!-- If not upload  -->
    <img 
      *ngIf="!actionUserData.upload"
      src="{{action.image}}" 
      alt="Action showing {{action.title}}" class="full-width" 
    /> 
	</div>

  <form class="story" [formGroup]="storyInputForm" (ngSubmit)="submitForm(storyInputForm.value)">

    <md-form-field class="full-width">
      <div class="textarea">
        <textarea
          name="story"
          mdInput
          [formControl]="storyInputForm.controls['story']"
          minlength="10"
          maxlength="120"
          placeholder="Tell us what you did"></textarea>
      </div>

       <md-error *ngIf="storyInputForm.controls['story'].hasError('required')">
        Please tell us about your peaceful action
      </md-error> 

      <md-error *ngIf="storyInputForm.controls['story'].hasError('minlength')">
        Please write at least 10 characters
      </md-error> 


    </md-form-field>

    
    <app-button 
      [disabled]="!storyInputForm.valid"
    >
      Submit
    </app-button>

  </form>
</app-badge-builder-card>