<app-badge-builder-card>

  <div class="image">

    <!-- If upload  -->
    <img 
      *ngIf="actionUserData.upload"
      src="{{actionUserData.upload.url}}" 
      alt="Action showing {{action.title}}" class="full-width" 
    /> 

    <!-- If not upload  -->
    <img 
      *ngIf="!actionUserData.upload"
      src="{{action.image}}" 
      alt="Action showing {{action.title}}" class="full-width" 
    /> 
	</div>

	<h2>{{action.title}}</h2>
	<p>Tell us what you did. Tell us what it felt like.</p>

  <form [formGroup]="storyInputForm" (ngSubmit)="submitForm(storyInputForm.value)">

    <md-form-field class="full-width">
      <textarea
        name="story"
        [formControl]="storyInputForm.controls['story']"
        class="full-width"
        mdInput
        minlength="10"
        maxlength="120"
        placeholder="Your Story"></textarea>

       <md-error *ngIf="storyInputForm.controls['story'].hasError('required')">
        Please tell us about your peaceful action
      </md-error> 

      <md-error *ngIf="storyInputForm.controls['story'].hasError('minlength')">
        Please write at least 10 characters
      </md-error> 


    </md-form-field>

    
    <button 
      md-button 
      [disabled]="!storyInputForm.valid"
      class="full-width md-raised"
      type="button"
      type="submit"
    >
      Submit
    </button>

  </form>
</app-badge-builder-card>