
<!-- Footer -->
<div class="footer">

  <!-- Links -->
  <ul>
    <li>
      <a href="/terms#copyright">
        Copyright
      </a>
    </li>

    <li>
        <a href="/terms#competition-terms">
        Competition Terms and conditions
      </a>
    </li>

    <li>
        <a href="/terms#website-terms">
        Website Terms and conditions
      </a>
    </li>

    <li>
        <a href="/terms#privacy">
        Privacy Policy
      </a>
    </li>
  </ul>

  <!-- legal details -->
  <div class="legal">
    &copy; International Alert. Registered charity number 327553
  </div>

</div>