
<!-- Footer -->
<div class="footer">

  <!-- Links -->
  <ul>
    <li>
      <a href="http://www.international-alert.org/">
        Copyright
      </a>
    </li>

    <li>
      <a href="http://www.international-alert.org/">
        Terms and conditions
      </a>
    </li>

    <li>
      <a href="http://www.international-alert.org/">
        Privacy Policy
      </a>
    </li>
  </ul>

  <!-- legal details -->
  <div class="legal">
    &copy; International Alert. Registered charity number 327553
  </div>

</div>