<app-badge-builder-card headerText="Share it!">

  <div class="preview">
    <img src="{{actionUserData.badge.image}}" />
  </div>

  <h2>
    {{action.title}}
  </h2>

  <p>
    Share your amazing everydaypeace now!
  </p>

  <div class="social-actions" *ngIf="actionUserData.badge.opengraph">

    <div class="twitter">
      <button ceiboShare [twitter]="{url:actionUserData.badge.opengraph, text:tweetText}" class="md-raised" (click)="startTwitterShare()">
        <img src="assets/badge-builder/tw.svg" class="social-icon">
      </button> 
    </div>

    <div class="facebook">
      <button ceiboShare [facebook]="{u: actionUserData.badge.opengraph}" class="md-raised" (click)="startFacebookShare()">
        <img src="assets/badge-builder/fb.svg" class="social-icon">
      </button> 
    </div>

    <div class="linkedin">
      <button ceiboShare [linkedIn]="{url: actionUserData.badge.opengraph}" class="md-raised" (click)="startLinkedInShare()">
        <img src="assets/badge-builder/linkedin.svg" class="social-icon">
      </button> 
    </div>


    <div class="whatsapp">
      <a (click)="startWhatsappShare()" [href]="sanitizedWhatsappUrl">
        <img src="assets/badge-builder/whatsapp2.svg" class="social-icon">
      </a> 
    </div>



  </div>

  <a class="skip" routerLink="/badgeBuilder/{{action.id}}/prize">Skip this step &#x25B8;</a>

</app-badge-builder-card>