<html>
  <head>
    Poppins-Regular.ttf
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/style.css">
    
  </head>
  <body>

    <div >

      <div class="container">

        <table>
          <tr>
            <th>
              story
            </th>
            <td>
              <p>{{story}}</p>
            </td>
          </tr>

          <tr>
            <th>
              Upload Image
            </th>
            <td>
              <img src="{{image}}" alt="">
            </td>
          </tr>

      </div>

    </div>

  </body>
</html>