<html>
  <head>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/style.css">
    
  </head>
  <body>

    <div>

      <div class="container">

        <div class="logo">
          <img src="assets/images/logo.svg">
        </div>

        
{{#if image}}
        <div id="image-placeholder"></div>
        
        <style>
          #image-placeholder {
            background-image:url("{{image}}")
          }
</style>
{{else}}
           <div id="story-placeholder"><p>{{story}}</p></div> 
{{/if}}

        <h1>#EverydayPeace {{action}}</h1>

      </div>

    </div>

  </body>
</html>