<html>
  <head>
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/style.css">
    
  </head>
  <body>

    <div>

      <div class="container">

        <div class="logo">
          <img src="assets/images/logo.svg">
        </div>

        <div id="image-placeholder"></div>
        <h1>#GunsOutForPeace</h1>

        <style>
          #image-placeholder {
            background-image:url("{{image}}")
          }
        </style>

      </div>

    </div>

  </body>
</html>