
/* Action CTAs */
.card-action-cta {
  text-align: center;
  margin:0 0 19px;
  max-width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background: #aaa; 
  padding:0 0 25px;
}
.card-action-cta.class-1 {
  background: #ffcd00;
}
.card-action-cta.class-2 {
  background: #6cc04a;
}
.card-action-cta.class-3 {
  background: #58c0e8;
}
.card-action-cta.class-4 {
  background: #f55097;
}

.card-action-cta img {
  width: 100%;
}
.card-action-cta .title {
  margin: 1em 0.5em 0.5em;
  font-size:1.5em;
  color:#fff;
}
.card-action-cta button {
  border-radius: 3.6px;
  text-transform: uppercase;
  cursor:pointer;
  border:none;
  background:#fff;
  padding:11px 3em;
  font-weight: 400;
  font-size: 13.6px;
  line-height: 1.24;
  text-align: center;
}
