.competition-banner {
  padding: 52px 38px 58px 23px;
  background:no-repeat center left;
  background-size:cover;
	background-image: url("/assets/competition-banner/header.jpg");
}

h2 {
  font-size: 27.9px;
  line-height: 1.16;
  text-align: left;
  color: #000000;
}

p {
  font-family: Roboto;
  font-size: 16.2px;
  line-height: 1.28;
  text-align: left;
  color: #000000;
}

button {
	border: none;
	padding:12px;
	width: 100%;
  border-radius: 3.6px;
	background-color: #58c0e8;
  font-size: 15.3px;
  line-height: 1.24;
  text-align: center;
  color: #ffffff;
}

/* non-mobile*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .competition-banner {
    background-image: url("/assets/competition-banner/header-2x.jpg");
  }
  .content {
    width:50%;
  }
}


@media only screen and (min-device-width : 1025px) {


	h2, p {
		color:#fff;
	}
  
.competition-banner {
  background-image: url("/assets/competition-banner/header-3x-alt.png");
}
.content {
  width:30%;
}
}

