<div class="container">
    
  <div class="top">Everydaypeace - Sign up</div>


  <div class="bottom">

    <p>Stay updated</p>

    <form action="https://formspree.io/everydaypeace_signup@international-alert.org" method="POST">
      <input type="email" name="_replyto" placeholder="Your email" />
      <input type="hidden" name="_subject" value="New email signup for everydaypeace.co" />
      <!-- <input type="submit" value="Send"> -->
      <app-button>Send</app-button>
    </form>
  </div>

</div>