<app-badge-builder-card>
  <div class="downloading" *ngIf=" mode == 'initial' ">

    <h2>Downloading your badge</h2>
    
    <md-progress-bar
      [color]="'primary'"
      [mode]="'determinate'"
      [value]="badgeDownloadProgressPercentage">
    </md-progress-bar>
    
  </div>

  <div *ngIf=" mode == 'ready' ">

    <h2>{{action.title}}</h2>
    
     <img src="{{actionUserData.badge.image}}" alt="Peace Badge" class="full-width" /> 

     <a href="javascript:window.history.go(-2)">Change your picture</a>

     

     <p class="story">
        {{actionUserData.story}}
     </p>

     <app-button 
      routerLink="/badgeBuilder/{{action.id}}/share"
    >
      Next
		</app-button>
    
  </div>

</app-badge-builder-card>