<app-badge-builder-card>
  <div *ngIf=" mode == 'initial' ">

    <h2>Downloading your badge</h2>
    
    <md-progress-bar
      [color]="'primary'"
      [mode]="'determinate'"
      [value]="badgeDownloadProgressPercentage">
    </md-progress-bar>
    
  </div>

  <div *ngIf=" mode == 'ready' ">

    <h2>Why donate food to a food bank?</h2>
    
    <!-- <img src="{{badge.image}}" alt="Peace Badge" class="full-width"> -->
     <img src="http://via.placeholder.com/500x250" alt="Peace Badge" class="full-width" /> 

     <a routerLink="/badgeBuilder/{{action.id}}/social">Change your picture</a>

     <div class="story">
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore voluptatem nulla, numquam. Et laborum neque consequuntur molestiae inventore laudantium tenetur impedit saepe quia quae delectus, doloribus similique. Iure ad, velit!
     </div>

     <button routerLink="/badgeBuilder/{{action.id}}/share">Submit</button>
    
  </div>

</app-badge-builder-card>