/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* NB: must have unquoted URL and font must be applied to individual elements */
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

body {
  padding:0;
  margin:0;
  background:black;
}

.container {
  position: relative;
  background:#f6bc25;
  top:0;
  left:0;
  width:1200px;
  height:630px;
}

#image-placeholder {
  width:1200px;
  height:630px;
  background:no-repeat center center;
  background-size: contain;
}

.logo {
  background:#fff;
  margin:0 auto 81px;
  display: inline-block;
  position: absolute;
  top:0;
  left:0;
}
.logo img {
  margin:7px;
  width: 130.8px;
  height: 215.2px;
  object-fit: contain;
}

h1 {
  position: absolute;
  left:0;
  bottom:0;
  background:#f6bc25;
  margin:0;
  padding:20px;
  width:50%;
  color:#000;
  font-family: Poppins; 
  /* NB: must have unquoted URL and font must be applied to individual elements */
}