
.logo {
	text-align: center;
	padding: 45px 0 47px;
}
.logo img {
  margin:7px;
  width: 65.4px;
  height: 107.6px;
  object-fit: contain;
}

h2 {
  font-size: 32px;
  line-height: 0.9;
  text-align: center;
  color: #000000;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  margin:0 auto 32px;
}

app-recent-activity-block {
   width:100%; 
}


/* non-mobile*/
@media only screen and (min-device-width : 768px) {

  .blocks {
    justify-content: space-around;
  }
	app-recent-activity-block {
    width:30%;
    margin-bottom:20px;
  }
}