<h2>
	Recent Activity
</h2>

<app-recent-activity-block 
	title="123" 
	description="'123'"
	actor="person"
	when="a while ago"
	ordinal=1
></app-recent-activity-block>

<app-recent-activity-block 
	title="123" 
	description="'123'"
	actor="person"
	when="a while ago"
	ordinal=2
></app-recent-activity-block>

<app-recent-activity-block 
	title="123" 
	description="'123'"
	actor="person"
	when="a while ago"
	ordinal=3
></app-recent-activity-block>

<app-recent-activity-block 
	title="123" 
	description="'123'"
	actor="person"
	when="a while ago"
	ordinal=4
></app-recent-activity-block>

<app-competition-banner></app-competition-banner>
<app-footer-peace-building></app-footer-peace-building>
<app-footer-common></app-footer-common>