<app-badge-builder-card>

  <div *ngIf="mode== 'uploading'">

    <h2>Entering you in the prize draw</h2>
    
    <md-progress-bar
      [color]="'primary'"
      [mode]="'indeterminate'">
    </md-progress-bar>

  </div>


  <div *ngIf="mode == 'initial' ">
    <h2>Enter prize draw for Ben &amp; Jerry's</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est eveniet reiciendis ratione earum sed nam excepturi facere in ad?</p>

    <form [formGroup]="complexForm" class="email-collector-form" (ngSubmit)="submitForm(complexForm.value)">
      <md-input-container class="single-line-input">

        <input type="text" mdInput value="" placeholder="Name" name="name" [formControl]="complexForm.controls['name']">

        <md-error *ngIf="complexForm.controls['name'].hasError('required')">
          Name is <strong>required</strong>
        </md-error>

      </md-input-container>

      <md-input-container class="single-line-input">

        <input
          type="email"
          mdInput
          value=""
          placeholder="Enter your email address"
          name="email"
          [formControl]="complexForm.controls['email']"
        >

        <md-error *ngIf="complexForm.controls['email'].hasError('pattern')">
          Please enter a valid email address
        </md-error>

        <md-error *ngIf="complexForm.controls['email'].hasError('required')">
          Email is <strong>required</strong>
        </md-error>

      </md-input-container>

      <div class="checkbox-container">
        <md-checkbox value="" name="festival_news" [formControl]="complexForm.controls['festival_news']">
          Yes, Please I want to receive information about the Peacebuilding Festival
        </md-checkbox>
      </div>

      <app-button [disabled]="!complexForm.valid">Enter Prize Draw</app-button>

      <a class="skip" routerLink="/badgeBuilder/1/complete">Skip this step &#x25B8;</a>

    </form>
  </div>

</app-badge-builder-card>