<!-- Hero -->
<div class="hero">
  
  <div class="logo">
    <img src="assets/logo.svg" alt="International Alert">
  </div>

  <div class="bg"></div>

  <div class="content">
    
    <h1>Everyday Peace,<br>we can build it,<br>one action at a time </h1>

    <div class="action-totaliser" *ngIf="badgeService.count">
      <div class="count">{{badgeService.count}}</div>
      <div class="copy">actions<br>taken so far</div>
    </div>

    <a pageScroll href="#promoted-actions" class="down-arrow">
    </a>
  </div>

</div>
<!-- End Hero -->


<!-- Promoted Actions -->
<div class="promoted-actions" id="promoted-actions" smoothScroll>
  
  <h2>Start building<br>peace now!</h2>

  <p>
    Everyone has a part to play in building peace.  Here we’ll show how small everyday actions can help us to break down barriers and understand each other.
  </p>
  
  <div class="blocks">
    <app-action-cta 
      *ngFor="let action of actionService.promotedActions; let ordinal = index" 
      [action]=action
      [ordinal]="ordinal"
    ></app-action-cta>
  </div>

  <!-- <a class="more" routerLink="/actions">
    View All <span class="right-arrow">&#x25B8;</span>
  </a> -->
</div>



<!-- Recent activity -->
<div class="recent-activity">
  <h2>Peace in Action</h2>
  
  <div class="blocks">
    <app-recent-activity-block 
      *ngFor="let badge of badgeService.promotedBadges; let ordinal = index"
      [badge]=badge
      [ordinal]="ordinal"
    ></app-recent-activity-block>
  </div>

  <a class="more" routerLink="/recent-activity">
    View All <span class="right-arrow">&#x25B8;</span>
  </a>

</div>



<app-competition-banner></app-competition-banner>
<app-footer-peace-building></app-footer-peace-building>
<app-footer-common></app-footer-common>