/* Hero */
.hero {
  text-align: center;
  background: #666;
  padding:1em;
  color:#fff;
}

.hero .action-totaliser {
  display: flex;
  font-weight: 400;
}

.hero .action-totaliser .count {
  flex:1; 
  border-right:2px solid #fff;
  padding-right:10px;
  text-align: right;
  font-size: 2.5em;
  line-height: 1;
}

.hero .action-totaliser .copy {
  flex:1; 
  padding-left: 10px;
  text-align: left;
  line-height: 1;
  font-size: 1.25em;
}

.recent-activity {
  text-align: center;
}
.recent-activity a.more {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color:#000;
  font-weight: 400;
  font-size: 1.4em;
  padding:0.5em;
}

/* Promoted Actions */
.promoted-actions {
  text-align: center;
  background:#eee;
  padding:1em 10px;
}

.promoted-actions a.more {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color:#000;
  font-weight: 400;
  font-size: 1.4em;
  padding:0.5em;
}
