
/* Peacebuilding */
.peace-building {
  background:#fdc300;
}

.peace-building img.header {
  width:100%;
}

.peace-building .content {
  padding:2em;
}
.peace-building h2 {
  font-size:2em;
}

.peace-building a.more {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color:#fff;
  font-weight: 400;
  font-size: 1.4em;
}
