
<!-- Peace Building -->
<div class="peace-building">

  <div class="header">
    <img class="mob" src="assets/what-is-peacebuilding/header.png" alt="Header Image">
    <img class="dt" src="assets/what-is-peacebuilding/header-dt.png" alt="Header Image">
  </div>
  
  <div class="content">

    <h2>What is<br>Peacebuilding?</h2>

    <p>
      Peacebuilding exists to prevent violence and create lasting peace. It focuses on the long term changes needed for peace by looking at the root causes of conflict.
    </p>

    <!-- <a class="more" href="http://www.international-alert.org/">More Info &#x25B8;</a> -->

    <p class="further">
      For success it needs to be inclusive from the grassroots to policy level. Everyone has a part to play in building peace. Small everyday actions can help us to break down barriers and understand each other.  To learn more please visit:<br>
      <a href="http://www.international-alert.org">www.international-alert.org</a>
    </p>

  </div>

  <div class="clearme"></div>
</div>

<!-- End Peace Building -->
