
/* Peacebuilding */
.peace-building {
  background:#fdc300;
}

img.header {
  width:100%;
}

.content {
  padding:47px 28px 18px;
}

h2 {
  font-size:31px;
  line-height: 1.16;
  margin:0;
}

p {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.28;
}

a {
  color:#111;
}

a.more {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  color:#fff;
}
