
/* Peacebuilding */
.peace-building {
  background:#fdc300;
  text-align: center;
}

.header img {
  width:100%;
}

.header img.dt {
  display: none;
}

.content {
  padding:47px 28px 18px;
  max-width: 500px;
  margin:0 auto;
}

h2 {
  font-size:31px;
  line-height: 1.16;
  margin:0;
}

p {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.28;
}

a {
  color:#111;
}

a.more {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  color:#fff;
}

.clearme {
  clear: both;
}


/* non-mobile*/
/* @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
{
  .header {
    float:right;
    width:40%;
    margin-left:32px;
    margin-bottom: 32px;
  }

  .further {
    clear: both;
  }
}


@media only screen and (min-device-width : 1025px)
{
  .header {
    float:right;
    width:40%;
    margin-left:32px;
    margin-bottom: 32px;
  }

  

  .header img.mob {
    display: none;
  }
  .header img.dt {
    display: block;
  }


} */

