/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Regular.ttf");
}

body {
  padding:0;
  margin:0;
  background:black;
  font-family: Poppins;
}

.container {
  position: relative;
  background: white;
  top:0;
  left:0;
  width:1200px;
  height:630px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* display: table; */
}

table {
  width:1200px;
  height:630px;
}
/* 

p {
  font-size:55px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
} */

img {
  max-width: 100%;
  max-height: 100%;
}