/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* NB: must have unquoted URL and font must be applied to individual elements */
@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

body {
  padding:0;
  margin:0;
  background:black;
}

.container {
  position: relative;
  background:#f6bc25;
  top:0;
  left:0;
  width:1200px;
  height:630px;
}

#image-placeholder {
  position: absolute;
  
  top:50px;
  left:175px;
  width:850px;
  height:530px;
  background:no-repeat center center;
  background-size: contain;
  /* background-color:red; */
}

#story-placeholder {
  position: absolute;
  top:50px;
  left:175px;
  width:850px;
  height:530px;
  display: table;
}

#story-placeholder p {
  font-family: Poppins;
  display: table-cell;
  vertical-align: middle;
  font-size:40px;
  text-align: center;
}

.logo {
  
  margin:0 auto 81px;
  display: inline-block;
  position: absolute;
  top:15px;
  left:15px;
}
.logo img {
  margin:7px;
  width: 130.8px;
  height: 215.2px;
  object-fit: contain;
}

h1 {
  position: absolute;
  left:0;
  bottom:0;
  background:#f6bc25;
  margin:0;
  padding:20px;
   width:100%; 
  color:#000;
  font-family: Poppins; 
  text-align: center;
  /* NB: must have unquoted URL and font must be applied to individual elements */
}

#story-placeholder p.large {
  font-size:2em;
}

#story-placeholder p.x-large {
  font-size:3em;
}

#story-placeholder p.xx-large {
  font-size:4em;
}