
.logo {
	text-align: center;
	padding: 45px 0 47px;
}
.logo img {
  margin:7px;
  width: 65.4px;
  height: 107.6px;
  object-fit: contain;
}

h2 {
	font-size: 32px;
  line-height: 0.9;
	text-align: center;
	padding:8px;
}

.cta {
	padding:12px;
}