<app-badge-builder-card>
	
	<!-- <div class="image">
		<img src="{{action.image}}" alt="Action showing {{action.title}}" class="full-width" /> 
	</div> -->

	<div class="logo">
    <img src="assets/logo.svg" alt="International Alert">
  </div>

	<h2>{{action.title}}</h2>

	<p class="description">

		{{action.description}}

		<a *ngIf="action.link" class="action-link" href="{{action.link}}">{{action.link}}</a>

	</p>

	<app-button 
		routerLink="/badgeBuilder/{{action.id}}/upload"
	>
		Create your story
	</app-button>
		

</app-badge-builder-card>