
.logo {
	text-align: center;
	padding: 45px 0 47px;
}
.logo img {
  margin:7px;
  width: 65.4px;
  height: 107.6px;
  object-fit: contain;
}

h2 {
  font-size: 32px;
  line-height: 0.9;
  text-align: center;
  color: #000000;
}

.actions {
  padding:0 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

app-action-cta {
  margin:0 10px;
}