<!--The content below is only a placeholder and can be replaced.-->
Actions Component 

<!-- <h1>
  #GunsOutForPeace Prototype
</h1>

<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>GunsOutForPeace</md-card-title>
    <md-card-subtitle>Fuel the campaign</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="/assets/suns_out_guns_out.jpg">
  <md-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio debitis esse assumenda, eaque velit accusantium voluptatem
      mollitia! Sequi sunt beatae voluptas, dolore molestiae in provident quae soluta rem ut repudiandae.
    </p>
  </md-card-content>
</md-card>

<h1>
  Make your own #GunsOutForPeace card
</h1>

<section>
  <md-toolbar color="primary">
    <span>1. Upload your guns</span>
  </md-toolbar>
  <app-image-uploader>
  </app-image-uploader>
</section>

<section>
  <md-toolbar color="primary">
    <span>2. Preview your guns</span>
  </md-toolbar>

  <app-social-preview>
  </app-social-preview>

</section>


<section>
  <md-toolbar color="primary">
    <span>3. Share</span>
  </md-toolbar>
  <app-social-actions>
  </app-social-actions>
</section>

<section>
  <md-toolbar color="primary">
    <span>4. Prize Draw</span>
  </md-toolbar>
  <app-email-collector>

  </app-email-collector>
</section> -->