<div class="email-collector">
  <form [formGroup]="complexForm" class="email-collector-form" (ngSubmit)="submitForm(complexForm.value)">
    <md-input-container class="full-width">

      <!-- <input mdInput placeholder="Email" [(ngModel)]="model.email" name="email"> -->
      <input type="email" mdInput value="" placeholder="Enter your email address" name="email" [formControl]="complexForm.controls['email']">

      <md-error *ngIf="complexForm.controls['email'].hasError('pattern')">
        Please enter a valid email address
      </md-error>

      <md-error *ngIf="complexForm.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </md-error>

    </md-input-container>

    <div class="submit">

      <div>
        <md-checkbox value="" name="festival_news" [formControl]="complexForm.controls['festival_news']">
          Sign up for festival news?
        </md-checkbox>
      </div>

      <div>
        <button class="full-width" type="submit" [disabled]="!complexForm.valid" md-raised-button>Enter Prize Draw</button>
      </div>
    </div>

  </form>
</div>